<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhiHuNewsSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE518C601E70E56700CA7EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE518C741E70E56800CA7EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE518C7F1E70E56800CA7EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
